%h1 Listing themas

%table
  %thead
    %tr
      %th Name
      %th Genre
      %th
      %th
      %th

  %tbody
    - @themas.each do |thema|
      %tr
        %td= thema.name
        %td= thema.genre
        %td= link_to 'Show', thema
        %td= link_to 'Edit', edit_thema_path(thema)
        %td= link_to 'Destroy', thema, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Thema', new_thema_path
